@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

html,
body,
:root {
  height: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-promo: var(--promo);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-darker: var(--primary-darker);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-yellow-lighter: var(--yellow-lighter);
  --color-surface-lowest: var(--surface-lowest);
  --color-surface-low: var(--surface-low);
  --color-surface-high: var(--surface-high);
  --color-on-surface: var(--on-surface);
  --color-surface-primary-container: var(--surface-primary-container);
  --color-default-border-color: var(--default-border-color);
  --color-button-bg: var(--button-bg);
  --color-brand-hover: var(--brand-hover);
  --color-logo-text: var(--logo-text);
  --color-danger: var(--danger);
  --color-danger-darker: var(--danger-darker);
  --color-primary-color: var(--primary-color);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.572 0.1752 280.83);
  --primary-darker: oklch(0.5295 0.1826 279.61);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --yellow-lighter: oklch(0.9882 0.0151 90.23);
  --surface-low: oklch(0.9454 0.0107 286.19);
  --surface-lowest: oklch(1 0 0);
  --surface-primary-container: oklch(0.9143 0.0434 286.94);
  --promo: oklch(0.5734 0.1779 280.69);
  --on-surface: oklch(0.2238 0.0077 285.76);
  --default-border-color: oklch(0.9603 0.02 289.08);
  --button-bg: oklch(0.974 0.004 286.33);
  --brand-hover: oklch(0.5189 0.1871 279.07);
  --logo-text: oklch(0.2433 0.1496 277.82);
  --danger: oklch(0.6561 0.1439 23.86);
  --primary-color: oklch(0.2238 0.0077 285.76);
  --danger-darker: oklch(0.6173 0.1638 25.29);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.7598 0.1278 284.45);
  --primary-darker: oklch(0.7845 0.1143 285.7);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --surface-lowest: oklch(0.1822 0 0);
  --surface-low: oklch(0.2587 0.0112 285.59);
  --surface-high: oklch(0.3033 0.0215 288.87);
  --surface-primary-container: oklch(0.387 0.0737 284.47);
  --promo: oklch(0.7598 0.1278 284.45);
  --on-surface: oklch(0.9173 0.0067 286.27);
  --default-border-color: oklch(0.3033 0.0215 288.87);
  --button-bg: oklch(0.3033 0.0215 288.87);
  --brand-hover: oklch(0.8106 0.0995 285.88);
  --logo-text: oklch(0.9158 0.0434 289.82);
  --danger: oklch(0.8161 0.1034 21.74);
  --primary-color: oklch(0.9173 0.0067 286.27);
  --danger-darker: oklch(0.436 0.1408 25.66);
}

@theme {
  --font-livedrawfont: "LivedrawFont", "Virgil", "Comic Sans MS", cursive;
  --font-nunito: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-comicShanns: "Comic Shanns", "Comic Sans MS", "Marker Felt", cursive;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}

@font-face {
  font-family: "LivedrawFont";
  src: url("/fonts/Livedraw_Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comic Shanns";
  src: url("/fonts/ComicSans.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.animate-float {
  animation: 2s ease-in-out 0s infinite alternate both running float;
}

#cursor {
  position: fixed;
  display: "none";
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99;
}

.dark #cursor {
  border: 1px solid white;
}
